<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Styles/login.css">
</head>
<body>
    <div class="title">
        <h1 id="title">HOTEL SHREEGOPAL</h1>
    </div>
    <div class="topic">
        <h2 id="topic">Room Managment System</h2>
        <h6>By. Mitul Khemani (Full Stack Developer)</h6>
    </div>
    <div class="login_form">
        <h2>LOGIN</h2>
        <input id="login_email" type="text" name="Email" placeholder="Email Address">
        <input id="login_password" type="password" name="password" placeholder="Password" >
        <button>Submit</button>
    </div>
</body>
</html>