<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Styles/rooms.css">
</head>
<body>
    <div class="title">
        <h1>Rooms</h1>
        <div class="date">
            <label for="Check-in-Date">Check-In: </label>
            <input type="Date" id="Check-in-Date" name="Check-in-Date">
        </div>
    </div>
    <div class="rooms">
        <div class="101"></div>
        <div class="201"></div>
        <div class="202"></div>
        <div class="203"></div>
        <div class="204"></div>
        <div class="205"></div>
        <div class="206"></div>
        <div class="301"></div>
        <div class="302"></div>
        <div class="304"></div>
        <div class="304"></div>
        <div class="305"></div>
        <div class="306"></div>
        <div class="401"></div>
        <div class="402"></div>
        <div class="403"></div>
        <div class="404"></div>
    </div>
</body>
</html>